<h1>Penjumlahan</h1>
<form (ngSubmit)="hitungJumlah()">
  <mat-form-field appearance="outline">
    <mat-label>Angka 1</mat-label>
    <input matInput type="number" [(ngModel)]="a" name="a" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Angka 2</mat-label>
    <input matInput type="number" [(ngModel)]="b" name="b" required>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Hitung</button>
</form>

<p class="result">Jumlah: {{ jumlah }}</p>
